<template>
  <div class="overlay"></div>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h3 class="mb-2">Välkommen <span class="foundationName"> ${foundation.name}!</span></h3>

            <p class="mb-2">Vi har ert nya ansökningssystem - <strong class="productName">Apply</strong>.</p>
            <p>Ett av marknadens mest moderna och användarvänliga system.</p>
            <p>På ett intuitivt och enkelt sätt hanterar vi hela er ansökningsprocess.</p>
            <p class="mb-2">Uppdatera gärna era kontaktuppgifter så hör vi av oss och berättar mer!</p>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" focus.bind="nameFocus" readonly if.bind="foundation.id" value.bind="foundation.name" placeholder="Stiftelsens namn">
                <input type="text" class="form-control" if.bind="!foundation.id" value.bind="foundation.name" placeholder="Stiftelsens namn">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" value.bind="foundation.flyerContact" focus.bind="contactFocus" placeholder="Kontaktperson">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" value.bind="foundation.flyerContactPhone" placeholder="Telefon">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" value.bind="foundation.flyerContactEmail" placeholder="E-post">
              </div>
              <div class="form-row">
                <div class="form-group col-12 col-md-7 padding-small">
                  <p style="font-size: 12px; color:grey;">Jag samtycker till <a href="https://apply.se/demo/PrivacyPolicy" style="color:grey;">Applys integritetspolicy</a></p>
                </div>
                <div class="form-group col-12 col-md-5 padding-small" if.bind="foundation.id">
                  <p style="font-size: 12px; "><a href="javascript:;" click.delegate="wrong()" style="color:whitesmoke;">Inte er stiftelse? Klicka här</a></p>
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-5">
                  <button type="button" class="btn btn-success" click.delegate="save()" disabled.bind="!canSave">Kontakta mig</button>
                </div>
                <div class="form-group col-7">
                  <p class=" ${saved ? '' : 'invisible'}">&nbsp;Tack!&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i></p>
                </div>
              </div>
              ${foundation.saved}
            </form>
            <hr>
            <div class="alert text-center">
              <a class="btn btn-secondary btn-sm active mr-3" role="button" aria-pressed="true" href="https://apply.se/demo" target="_blank">Testa
                vår demo</a>
              <a class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" href="https://apply.se" target="_blank">Läs
                mer om Apply här</a>
              <p>
                <address>
                  08-5000 22 00<br><a href="mailto:apply@zapote.se?Subject=Ansökningssystem" target="_top">apply@zapote.se</a>
                </address>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-5">
      <li class="list-unstyled-item">
        <a href="https://apply.se/demo" target="_blank" title="Apply Demo">
          <i class="fa fa-puzzle-piece"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://apply.se" target="_blank" title="Apply">
          <i class="fa fa-home"></i>
        </a>
      </li>
    </ul>
  </div>
</template>
